body {
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
  }
  p {
    margin-right: 40px;
  }
  h1 {
    margin: 0px 400px;
    text-align: center;
  }
  button.redondo {
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    padding: 0px 20px;
    height: 32px;
  }
  
  #introduction {
    margin-top: 50px;
  }
  div#introduction-actions {
    display: flex;
    justify-content: center;
  }
  
  div#header-right {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
  }
  
  .header-style {
    border-bottom: 1px solid gray;
    display: flex;
    padding: 8px 100px;
    justify-content: space-between;
  }
  #header-fixed {
    background-color: white;
    height: 60px;
  
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
  }
  #style-photo {
    background-attachment: fixed;
  }
  
  footer {
    background-color: #201b24;
    height: 250px;
    width: 100%;
  }
  
  .footer-logo {
    display: flex;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    color: #d9d9d9;
    font-size: 12px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    align-items: center;
  }
  #style-paragraph {
    text-align: center;
  }
  
  #logo-white {
    margin-right: 40px;
  }
  
  a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: #d9d9d9;
  }
  
  a:visited {
    color: #d9d9d9;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background: #bae498;
  }
  
  a:hover {
    border-bottom: 1px solid;
    background: #cdfeaa;
  }
  
  a:active {
    background: #265301;
    color: #cdfeaa;
  }
  
  #impact-style {
    background-color: #201b24;
    background-position: center center;
    background-repeat: no-repeat;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
  }
  
  #text-style {
    display: flex;
    color: #d9d9d9;
    height: 400px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  #boxes {
    margin: 0px -7;
    color: white;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-items: left;
    align-self: center;
  }
  .box-container {
    padding: 0 7px;
    margin-bottom: 14px;
    text-align: center;
    box-sizing: border-box;
  }
  
  #impact {
    align-self: self-start;
  }
  
  .box1 {
    border: 1px solid rgba(32, 27, 36, 0);
  }
  
  .text-box {
    color: #8c939c;
    font-size: 14px;
  }
  
  .style-back {
    background-position: center center;
    background-repeat: no-repeat;
    border-width: 0px 0px 0px 0px;
    border-color: #201b24;
    border-style: solid;
  }
  
  .font-style {
    color: #201b24;
    font-size: 20px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
  }
  
  .style-book {
    display: flex;
  }
  
  .photo-style > img {
    border-radius: 0% 10% 10% 10%;
    margin: 50px;
  }
  
  #box-style2 {
    padding-top: 100px;
    margin-left: 50px;
  }
  
  #text-programs {
    margin-bottom: -20px;
    margin-left: 50px;
  }
  
  .flex-robot {
    display: flex;
  }
  
  #text-robot {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    padding-left: 80px;
    padding-top: 80px;
  }
  
  .box-style-estafas {
    display: flex;
  }
  
  #text-estaf {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    padding-left: 80px;
    padding-top: 80px;
  }
  .text-style-paragraph {
    font-family: "Inter", Arial, Helvetica, sans-serif;
  }
  
  .flex-perfiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-gap: 30px;
  }
  
  .style-perfil {
    margin: 0 0 20px;
  }
  
  .style-box-data {
    background-color: #ffffff;
    width: 200px;
    height: 110px;
    text-align: center;
    margin-top: -33px;
  }
  
  .style-photo-perfil {
    width: 200px;
    border-radius: 15px 15px 0px 0px;
    height: 136px;
  }
  
  .text-box-paragraph {
    font-size: 14px;
    margin-top: -30px;
    margin-left: 30px;
    color: #8c939c;
  }
  
  #det-par {
    margin-left: 40px;
    padding-top: 50px;
  }
  
  .flex-perfiles::after {
    content: "";
    width: 200px;
  }
  
  #al-text {
    margin-left: 40px;
    padding-top: 50px;
    font-size: 20px;
  }
  